body {
    background-color: rgb(77, 70, 70);
    font-style: italic;
    color: white;
    font-size: 30px;
  }
  h1 {
    font-size: 50px;
    color: white;
    text-align: center;
  }
  button {
    font-size: 20px;
    font-stretch: expanded;
    padding-bottom: 20px 60px;

  }
  input {
    font-size: 25px;
  }
  div {
    text-align: left;

  }
  .lab{
    color: blue;
    background-color: bisque;
    font-size: 20px;
    
  }
  .margin{
    position: relative;
    margin-left: 47px;
  }